/* base markup for islandora_solr_facet_pages */

/* Letterer */
ul.islandora-solr-facet-pages-letterer li
{
  display: inline-block;
  width: 18px;
  background-image: none;
  padding: 0;
  
  text-align: center;
}

ul.islandora-solr-facet-pages-letterer li.first
{
  width: 32px;
}

ul.islandora-solr-facet-pages-letterer li a
{
  padding: 2px 5px;
}

ul.islandora-solr-facet-pages-letterer li.active a
{
  text-decoration: underline;
}